extends layout

block content
  .page
    .page__header
      .page__task-name
        | Make new poll
    .page__content.page__content--padding
      form(method='post' action='/').poll
        table.poll-table
          thead
            tr
              th Question:
              th
                input.input-text(type='text' name='question' required)
          tbody#answers__tbody
            tr.answers__trow
              th Answer 1:
              td
                input.input-text(type='text' name='answer' required)
            tr.answers__trow
              th Answer 2:
              td
                input.input-text(type='text' name='answer' required)
            tr
              td.poll-table__plus
                button.btn.btn--plus#add-answer
                  | +
              td
        button.btn.btn--start
          | Start
  script(src="js/newVote.js")
